<ng-container *ngIf="product; else noProduct">
  <h4>Name: {{ product.id }}</h4>
  <h4>Name: {{ product.name }}</h4>
  <h5>Price: {{ product.price | currency:'VND' }}</h5>
  <h6>Status: {{ product.status ? 'Active' : 'Deactive' }}</h6>
  <a routerLink="/products/2">Product 2</a>
  <div class="btn-group d-block">
    <button
      class="btn btn-primary"
      (click)="onEdit()"
    >Edit</button>
    <button
      class="btn btn-danger"
      (click)="onDelete()"
    >Delete</button>
  </div>
</ng-container>
<ng-template #noProduct>
  <h4>This product has been deleted.</h4>
</ng-template>
<hr>
<button
  type="button"
  class="btn btn-info"
  (click)="onBackToList()"
>Back to list</button>
