<!--ngClass-->
<!--<h3-->
<!--  [class.pd-10]="true"-->
<!--  [class.cl-red]="true"-->
<!--  [class.border-blue]="true"-->
<!--&gt;Chào mừng đến với Angular</h3>-->

<!--&lt;!&ndash;ngClass&ndash;&gt;-->
<!--<h3-->
<!--  [ngClass]="['pd-10', 'cl-red', 'border-blue']"-->
<!--&gt;Chào mừng đến với Angular</h3>-->
<!--<hr>-->
<!--<h3-->
<!--  [ngClass]="{'pd-10': isSpecial, 'cl-red' : isSpecial , 'border-blue': isSpecial, 'border-yellow': !isSpecial}"-->
<!--&gt;Chào mừng đến với Angular</h3>-->
<!--<button class="btn btn-primary" (click)="onToggleSpecial()">Toggle Button</button>-->
<!--<hr>-->
<!--<h3-->
<!--  [ngClass]="setClasses()"-->
<!--&gt;Chào mừng đến với Angular</h3>-->
<!--<button class="btn btn-primary" (click)="onToggleSpecial()">Toggle Button</button>-->

<!--ngStyle-->
<h3
  [ngStyle]="setStyles()"
>Chào mừng đến với Angular</h3>
<button class="btn btn-primary" (click)="onToggleSpecial()">Toggle Button</button>
